* {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.subtitle {
  color: #a79c83;
}

/* TOP BANNER ====================== */
.banner {
  background-color: #c2b697;
  color: #053661;
  font-size: 0.9rem;
  font-weight: 600;
}
.banner-icon {
  color: #be7413;
}
.banner-icon:hover {
  color: #053661;
}
.phone-icon {
  animation: ring 12s ease-in-out infinite;
  transform-origin: 50% 50%;
}
@keyframes ring {
  0% {
    transform: scale(1) rotate(0deg);
  }

  10% {
    transform: scale(1.1) rotate(10deg);
  }

  20% {
    transform: scale(1) rotate(-10deg);
  }

  30% {
    transform: scale(1.1) rotate(10deg);
  }

  40% {
    transform: scale(1) rotate(-10deg);
  }

  50% {
    transform: scale(1.1) rotate(10deg);
  }

  60% {
    transform: scale(1) rotate(-10deg);
  }

  70% {
    transform: scale(1.1) rotate(10deg);
  }

  80% {
    transform: scale(1) rotate(-10deg);
  }

  90% {
    transform: scale(1.1) rotate(10deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

/* NAVBAR ====================== */
.nav {
  font-size: 1.1rem;
  font-weight: 500;
}

.nav .logo-image {
  max-width: 70px;
}

.nav .logo-text {
  max-width: 200px;
  margin-left: -1.5rem;
}

.nav .slide-in {
  background-color: #02182b;
  padding-top: 0;
  animation: slide-in 0.8s ease-out;
}
@keyframes slide-in {
  from {
    transform: translateY(-70%);
  }

  to {
    transform: translateY(0);
  }
}

/* FOOTER ====================== */
footer {
  background-color: #02182b;
  color: #e7eaef;
  font-size: 0.8rem;
}
footer .logo-text {
  max-width: 150px;
}

footer .logo-image {
  max-width: 50px;
}

footer .logo-text {
  max-width: 150px;
  margin-left: -1.5rem;
}
footer .content {
  color: #c2b697;
}
.contact-icon {
  color: #be7413;
  font-size: large;
}
.contact-icon:hover {
  color: #c2b697;
}
footer h6 {
  color: #c2b697;
}

.copyright {
  font-size: 0.7rem;
  color: rgb(222, 217, 217);
}

/* HOME PAGE ====================== */
.home-page {
  font-size: 0.9rem;
}
.hero-section {
  background-image: url("/public/assets/hero.webp");
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-container {
  position: relative;
  z-index: 1;
  margin-top: 8rem;
  margin-left: 3rem;
}

.text-1,
.text-2 {
  color: #fff;
  font-family: "Marmelad", sans-serif;
  letter-spacing: 0.1rem;
}

.text-2 {
  line-height: 2rem;
}

.text-2 span {
  color: rgb(232, 189, 134);
  font-size: 1.3rem;
}

.text-3 {
  color: #ebe2d6ff;
  font-size: 0.9rem;
  padding-top: 3rem;
  line-height: 1.8rem;
  width: 60%;
}

.text-3 span {
  font-size: 0.7rem;
}

.slide {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideLeft 1s forwards;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* BUTTONS */
.horizontal-btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1;
}
#horizontal1 {
  background-color: #042b4e;
  color: #ebe2d6ff;
}

#horizontal1:hover {
  background-color: #c2b697;
  color: #042b4e;
}
#small {
  background-color: #042b4e;
  color: #ebe2d6ff;
}

#small:hover {
  background-color: #c2b697;
  color: #042b4e;
}

.horizontal-btn .btn {
  background-color: #c2b697;
  color: #053661;
}

.horizontal-btn .btn:hover {
  background-color: #042b4e;
  color: #ebe2d6ff;
}

.mobile-btn .btn {
  background-color: #c2b697;
  color: #053661;
}

.mobile-btn .btn:hover {
  background-color: #042b4e;
  color: #ebe2d6ff;
}

/* INTRO */
.guide-text {
  color: #a07613;
  font-family: "Montserrat", sans-serif;
  border-left: 2px solid #a07613;
  padding-left: 5px;
  font-weight: bold;
}

/* SERVICES */
.services-section {
  background-image: url("/public/assets/column-services.webp");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

.services-section img {
  object-fit: cover;
  width: 150px;
}

.services-overlay {
  background-color: rgba(1, 13, 37, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services-content {
  position: relative;
  z-index: 1;
  color: #fff;
}

.services-content p {
  text-indent: 1rem;
}

.color {
  color: #c2b697;
}

.services-section .btn {
  background-color: #c2b697;

  color: #000;
}

.services-section .btn:hover {
  background-color: #2d6da5;
  color: #fff;
}

/* RECOMMENDATION */
.recommendation {
  background-color: #e7eaef;
}

.my-list {
  list-style-type: none;
}

.my-list li {
  position: relative;
  margin-left: 25px;
}

.my-list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #c2b697;
  border-radius: 2px;
}

/* LAW SERVICES */
.avocatura {
  font-size: 0.8rem;
  line-height: 1rem;
  overflow: hidden;
}

.avocatura .card {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(5, 1, 25, 0.8);
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: lighter;
}

.avocatura .card-body {
  background-color: #072e53;
  border-bottom: 7px solid #c2b697;
}

.avocatura .card-img-top {
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.law-icon {
  color: #c2b697;
}

.civil {
  background-image: url("/public/assets/civil-law.webp");
}

.criminal {
  background-image: url("/public/assets/criminal-law.webp");
}

.executare {
  background-image: url("/public/assets/executare.webp");
}

.family {
  background-image: url("/public/assets/family-law.webp");
}

.labor {
  background-image: url("/public/assets/labor-law.webp");
}

.business {
  background-image: url("/public/assets/business-law.webp");
}

.insolvency {
  background-image: url("/public/assets/insolvency.webp");
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.avocatura .card:hover .overlay {
  opacity: 1;
}

.avocatura .card:hover .card-img-top {
  transform: scale(1.1);
}

.card-title {
  font-family: "Marmelad", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  color: #fff;
}

.avocatura .btn {
  background-color: #c2b697;
  color: #000;
}

.avocatura .btn:hover {
  background-color: #042b4e;
  color: #ebe2d6ff;
}

/* CONTACT */
.contact-us {
  background-color: #e7eaef;
}

.contact-us .btn {
  background-color: #042b4e;
  color: #ebe2d6ff;
}

.contact-us .btn:hover {
  background-color: #c2b697;
  color: #042b4e;
}

@media only screen and (max-width: 500px) {
  .hero-section {
    height: 450px;
  }

  .text-container {
    margin-left: 2rem;
  }

  .text-1 {
    font-size: 1rem;
  }

  .text-2 {
    font-size: 1.2rem;
  }

  .text-3 {
    font-size: 0.8rem;
    width: 80%;
  }
}

/* Styles for the forgot password page */
.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: "Open Sans", sans-serif;
}

.forgot-password-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.forgot-password-title {
  text-align: center;
  color: #2d6da5;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.forgot-password-instructions {
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #053661;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #c2b697;
  border-radius: 4px;
  font-size: 0.9rem;
  color: #333;
}

.form-group input:focus {
  border-color: #2d6da5;
  outline: none;
}

.btn-reset-password {
  display: block;
  width: 100%;
  padding: 0.8rem;
  background-color: #2d6da5;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-reset-password:hover {
  background-color: #053661;
}

@media (max-width: 768px) {
  .forgot-password-container {
    padding: 1rem;
  }

  .forgot-password-title {
    font-size: 1.2rem;
  }

  .btn-reset-password {
    font-size: 0.9rem;
  }
}
/* Register page styling */
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.register-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.register-title {
  text-align: center;
  color: #2d6da5;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #c2b697;
  border-radius: 4px;
  font-size: 0.9rem;
}

.form-group input:focus {
  border-color: #2d6da5;
  outline: none;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.btn-register {
  display: block;
  width: 100%;
  padding: 0.8rem;
  background-color: #2d6da5;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-register:hover {
  background-color: #053661;
}
